H1{color: blue;
    font-size: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: center;

}

H2{height: 250px;
    width: 1000px;
    margin: auto;
    color: red;
    font-weight: 400;
    font-size: 100px;

}